html, body, h1, h2, h3, h4, ul, li {
	margin: 0; /* zera as margens */
    padding: 0; /* retira os paddings */ 
padding:0 ;
}
h1 img {
	display: block; /* faz com que as imagens e h1 fiquem com uma linha completa */
}
img {
	border:0; /* retira as bordas das imagens */
}
a {
	color: #464544; /* troca cor dos links para um cinza */
}
a:hover {
	color: #FFA405; /* troca a cor do link quando o mouse estiver em cima do link */
}
.left {
	float: left; /* posiciona o elemento para a esquerda */
}
.right {
	float: right; /* posiciona o elemento para a direita */
}
.more {
	text-align: right; /* posiciona o texto a direita do elemento */
}
.clear {
	clear: both; /* move os elementos floats que estão se sobrepondo para a direita ou para a esquerda */
}

body {
	background: #504634; /* muda a cor de fundo para uma cor meio marrom */
	text-align: center; /* alinha o texto para o centro */
	font: 11px verdana, arial, sans-serif; /* altera a fonte e seu tamanho */
	color: #695F4c; /* altera a cor para um marrom mais claro */
	padding-bottom: 10px; /* adiciona um preenchimento de 10px na parte de baixo do elemento */
}

/** layout **/
#wrapper {
	text-align: left; /* deixa o alinhamento do texto para a esquerda */
	margin: 37px auto; /* adiciona uma margem de 37px no topo e em baixo de elemento e deixa o navegador calcular a margem da lateral do elemento */
	width: 672px; /* deixa o tamanho da largura com 672px */
	background: #FFFFFF; /* muda a cor do plano de fundo para preto */
  	position: relative; /* deixa a posição relativa ao site */
    border-radius: 30px; /* deixa os cantos arredondados */
	}

#header {
  background: #D9D1BC url(images/lojas-marisa-original.png) no-repeat; /* muda a cor do cabeçalho da página e adiciona uma imagem */
  height: 266px; /* configura o tamanho da altura do elemento para 266px */
  border-radius: 30px; /* deixa os cantos arredondados */
  background-size: 266px;
}
#logo {
  position: absolute; /* configura o logo para sua posição ser absuluta em relação a pagina */
  top: 30px; /* move o logo 30px do topo de forma absoluta */
  left: 300px; /* move o logo 300px da esquerda de forma absoluta */
  width: 170px; /* deixa o tamanho da largura em 170px */
  color: #52616E; /* muda a cor da fonte para um azul */
}
#logo h1 {
  font: bold 24px "arial narrow", arial, sans-serif; /* muda a fonte para arial narrow ou arial ou uma fonte da familia nao serifada em negrito e 24px de tamanho */
}
#logo p {
  margin: 0; /* retira a margem para todos os lados */
  font-weight: bold; /* muda a fonte para negrito */
}

#cart {
  position: absolute; /* altera a posição para ser absoluta e não relativa ao elemento pai */
  top: 10px; /* deixa o elemento com 10px de distancia do topo */
  left: 454px; /* deixa o elemento com 454px de distancia da esquerda */
  width: 208px; /* altera largura para 208px */
  background: #4B6360; /* altera a cor da fonte para verde */
  width: 209px; /* altera o tamanho da largura para 209px */
}
#cart-top { background: url(images/cart_top.gif) no-repeat; } /* adiciona uma imagem para o elemento como fundo */
#cart-bot { background: bottom left url(images/cart_bot.gif) no-repeat; } /* adiciona uma imagem para o elemento como fundo */
#cart-cart { background: 9px 11px url(images/cart.gif) no-repeat; } /* adiciona uma imagem para o elemento como fundo */
#cart-cart {
  padding: 8px 8px 8px 60px; /* altera o padding para 8px no topo, na direita e em baixo e de 60 px para a esquerda do elemento */
  color: white; /* altera a cor da fonte para branco */
}
#cart p {
  margin: 0; /* retira as margens do paragrafo */
}
#cart .orange {
  color: #FFB400; /* altera a cor da fonte para laranja */
  font-size: 10px; /* altera o tamanho da fonte para 10px */
}
#cart a {
  color: white; /* altera a cor da fonte para branco */
  font-size: 10px; /* altera o tamanho da fonte para 10px */
}

#nav {
  background: #4B5360; /* altera a cor de fundo para um azul */
  position: absolute; /* altera a posição do elemento para absoluto */
  top: 101px; /* da uma distancia de 101px */
  left: 287; /* altera a distancia para 287px */
  width: 385px; /* altera a largura para 385px */
  padding: 9px 0; /* altera o preenchimento para 9px no topo e na parte inferior do elemento e retira o preenchimento das laterais do elemento */
  text-align: center; /* alinha o texto no centro */
}
#nav li {
  list-style: none; /* retira o estilo da lista */
  display: inline; /* deixa a lista ficar na mesma linha */
  color: #FFF; /* altera a cor da fonte para branco */
}
#nav a {
  text-decoration: none; /* retira o sublinhado do anchors */
  color: #FFF; /* deixa a cor da fonte como branco */
}
#gallery {
  position: absolute; /* deixa a posição absoluta */
  top: 155px; /* move o elemento em 155px do topo */
  left: 287; /* move o elemento em 287 do topo */
  width: 385px; /* altera a largura do elemento para 385px */
}
#gallery li {
  list-style: none; /* retira o estilo da lista */
  text-indent: -999px; /* coloca o texto para vira a 90 graus a esquerda */
  float: left; /* posiciona o elemento a esquerda */
  overflow: hidden; /* quando um elemento fica em cima dele ele desaparece da página */
  height: 111px; /* muda o tamanho para 111px */
}
#gallery .gwomen {
  background: url(images/woman.jpg) no-repeat; /* adiciona uma imagem no fundo do elemento */
  width: 127px; /* altera o tamanho da largura do elemento para 127px */
  background-size: 127px;
}
#gallery .gkids {
  background: url(images/man.jpg) no-repeat; /* adiciona uma imagem no fundo do elemento */
  width: 130px; /* altera o tamanho da largura do elemento para 130px */
  background-size: 130px;
}
#gallery .gmen {
  background: url(images/kid.jpg) no-repeat; /* adiciona uma imagem no fundo do elemento */
  width: 128px; /* altera o tamanho da largura do element para 128px */
  background-size: 128px;
}

#body {
  padding-top: 3px; /* adiciona um preenchimento de 3px no topo */
  background-color #FFF; /* muda a cor de fundo para preto */ 
}
#categories {
  float: left; /* posiciona o elemento para a esquerda */
  width: 195px; /* altera a largura para 195px */
}
#seasonal, #collection {
  float: right; /* posciona o elemento para a direita */
  width: 474px; /* altera a largura para 474px */
  background: #D4CAB6; /* altera a cor de fundo para uma cor meio bege */
  margin-bottom: 2px; /* altera a margem de baixo para 2px*/
}
#seasonal .inner, #collection .inner {
  padding: 6px 12px; /* adiciona um preenchimento de 6px em cima e em baixo do elemento e um preenchimento de 12px nas laterais */
}
#seasonal p, #collection p {
  margin: 0.9em 0; /* adiciona uma margem de 0.9 em relação a fonte do elemento pai no topo e em baixo e retira as margens das laterais */
}

.more a {
  font-size: 12px; /* altera o tamanho da fonte para 12px */
  color: #000; /* altera a cor para preto */
  text-decoration: none; /* retira o sublinhado do link */
}
.more a:hover {
  text-decoration: underline; /* adiciona o sublinhado no link quando ele estiver selecionado */
}

h3 {
  font: bold 14px "arial narrow", arial, sans-serif; /* altera a fonte para arial narrow ou arial ou uma fonte da família não serifado em negrito e com 14px de tamanho */
  color: #1B1812; /* altera a cor do h3 para uma cor preta */
}

h2 {
  font: 18px "arial narrow", arial, sans-serif; /* altera a fonte para arial narrow ou arial ou uma fonte da família não serifado com 14px de tamanho */
  color: #695F4C; /* altera a  cor da fonte para um estilo de marrom */
  padding-bottom: 10px; /* altera o preenchimento da parte de baixo do elemento para 10px */
}
#categories h2 {
  color: #FFF; /* altera a cor do elemento para preto */
  padding: 4px 0 5px 39px; /* altera o preenchimento do elemento para 4px no topo, 0 na direita, 5px em baixo e 39px na esquerda */
  background: #847A67; /* muda a cor de fundo para um marrom claro */
}
#categories li {
  background: #D4CAB6 left url(images/bullet.gif) no-repeat; /* muda a cor de fundo para um bege uma uma imagem a esquerda */
  border-top: 1px solid #F4EFDF; /* adiciona uma borda solida de 1px com uma cor tipo creme */
  list-style: none; /* retira o estilo da lista */
  font-size: 12px; /* muda o tamaho da fonte para 12px */
  padding: 7px 0 8px 35px; /* altera o preenchimento para 7px no topo, 0 na direita, 8px em baixo e 35px na esquerda */
}
#categories a {
  text-decoration: none; /* retira o sublinhado do link */
  color: #000000; /* altera a cor da fonte para preto */
}
#categories a:hover {
  text-decoration: underline; /* coloca sublinhado no link quando o mouse estiver em cima */
}

#collection {
  background: #D4CAB6 bottom right url(images/person_bg.jpg) no-repeat; /* altera a cor de fundo para uma cor bege com uma imagem no canto inferior direito */
}
#collection .inner {
  padding-right: 98px; /* adiciona um preenchimento de 98px na direita do elemento */
}
#minigal {
  float: right; /* posiciona o elemento para a direita */
  width: 222px; /* muda o tamanho da largura para 222px */
  margin-top: 1em; /* altera a margem do topo para 1 em relação a fonte do elemento pai */
  margin-bottom: 1em; /* altera a margem inferior para 1 em relação a fonte do elemento pai */
}
#minigal div {
  float: left; /* posiciona o elemento para a esquerda */
  margin: 6px; /* adiciona uma margem de 6px para todos os lados */
}
#collection ul {
  margin-left: 1.5em; /* adiciona uma margem a esquerda do elemento de 1.5 em relação a fonte do elemento pai */
}
#collection li {
  margin: 0.2em 0; /* margem de 0.2 em relação a fonte do elemento pai para a parte superior e inferior e retira a margem das laterais */
  color: #463F32; /* muda a cor da fonte para marrom */
  font-size: 16px; /* altera o tamanho da fonte para 16px */
  font-weight: bold; /* deixa a fonte em negrito */
  font-family: "arial narrow", arial, sans-serif; /* altera a fonte para arial narrow ou arial ou uma fonte da familia não serifada */
}
#collection p {
  width: 103px; /* altera o tamanho da largura para 103px */
  margin-left: 1.5em; /* muda a margem esquerda para 1.5 em relação a fonte do elemento pai */
}

#seas-one, #seas-two, #seas-three {
  height: 146px; /* altera a altura para 146px */
}

#seas-one {
  float: left; /* posiciona o elemento a esquerda */
  width: 105px; /* altera o tamanho do elemento para 105px */
  margin-right: 3px; /* altera a margem da direita para 3px */
  background: url(images/foot_1.jpg); /* adiciona uma imagem de fundo */
}
#seas-two {
  float: left; /* posiciona o elemento a esquerda */
  width: 249px; /* altera o tamanho da largura para 249px */
  margin-right: 3px; /* altera a margem da direita para 3px */
  background: url(images/foot_2.jpg) no-repeat; /* adiciona uma imagem de fundo */
}
#seas-three {
  float: left; /* posiciona o elemento a esquerda */
  width: 222px; /* altera o tamanho da largura para 222px */
  background: url(images/foot_3.jpg) no-repeat; /* adiciona uma imagem de fundo */
}

#seas p {
  text-align: right; /* alinha o texto a direita */
  color: #000; /* muda a cor do texto para branco */
  margin: 80px 15px 0 0; /* adiciona uma margem de 80px no topo, 15px na direita, 0 inferior e 0 na esquerda do elemento */
  font-size: 23px; /* altera o tamanho da fonte para 23px */
  font-weight: bold; /* deixa a fonte em negrito */
}
#seas p.date {
  margin-top: 0; /* retira a margem do topo */
  font-size: 16px; /* altera o tamanho da fonte para 16px */
}

#copyright {
  text-align: center; /* alinha o texto no centro */
  font-size: 9px; /* altera o tamanho da fonte para 9px */
  padding: 3px; /* altera o preenchimento para 3px em todos os lados */
}
